{% extends "base.html" %}

{% block title %}About - Red Ink{% endblock %}

{% block content %}
        <!-- # site-content
        ================================================== -->
        <div id="content" class="s-content s-content--page">

                <div class="row entry-wrap">
                    <div class="column lg-12">

                        <article class="entry">

                            <header class="entry__header entry__header--narrow">
    
                                <h1 class="entry__title">
                                    Red Ink Story.
                                </h1>
    
                            </header>

                            <div class="entry__media">
                                <figure class="featured-image">
                                    <img src="images/thumbs/about/about-1200.jpg" 
                                      srcset="images/thumbs/about/about-2400.jpg 2400w, 
                                              images/thumbs/about/about-1200.jpg 1200w, 
                                              images/thumbs/about/about-600.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>
                            </div>

                            <div class="content-primary">

                                <div class="entry__content">
        
                                    <p class="lead">
                                    Challenge Perspectives, Ignite Creativity, Break Boundaries.</p>

                                    <div class="row block-lg-one-half block-tab-whole">
                                        <div class="column">
                                            <p class="drop-cap">
                                                Red Ink was inspired by the creator's personal journey to grow in writing
                                                and communication skills while encouraging others to embrace creativity
                                                and explore new perspectives. The platform was built on the belief that
                                                writing is a transformative tool for self-expression, personal growth,
                                                and challenging societal norms. It provides a space for writers of all
                                                levels to engage with thought-provoking prompts, spark their imagination,
                                                and develop their unique voice.
                                                </p>
                                        </div>
                                        <div class="column">
                                            <p>
                                                The platform’s categories draw inspiration from current events, the rise
                                                of fascism, social justice, consciousness, empathy, and religious or
                                                institutional deconstruction. With prompts designed to provoke deep
                                                thought and inspire bold ideas, Red Ink encourages users to break free
                                                from societal constraints and explore uncharted creative territory.
                                                By fostering a space for reflection and innovation, Red Ink aims to
                                                inspire everyone to rethink the world and create something meaningful.
                                                </p>
                                        </div>
                                    </div>

                            </div> <!-- end content-primary -->

                        </article> <!-- end entry -->

                    </div>
                </div> <!-- end entry-wrap -->

        </section> <!-- end s-content -->


{% endblock %}