{% extends "base.html" %}

{% block title %}Welcome to Red Ink{% endblock %}

{% block header %}

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header id="masthead" class="s-header">

            <div class="s-header__branding">
                <p class="site-title">
                    <a href="{{ url_for('home') }}" rel="home">Red Ink.</a>
                </p>
            </div>

            <div class="row s-header__navigation">

                <nav class="s-header__nav-wrap">
    
                    <h3 class="s-header__nav-heading">Navigate to</h3>
    
                    <ul class="s-header__nav">
                        <li class="current-menu-item"><a href="{{ url_for('home') }}" title="">Home</a></li>
                        <li class="has-children">
                            <a href="#0" title="" class="">Prompts</a>
                            <ul class="sub-menu">
                                <li><a href="{{ url_for('category_prompts', category_name='Philosophy') }}">Philosophy</a></li>
                                <li><a href="{{ url_for('category_prompts', category_name='Fantasy') }}">Fiction & Fantasy</a></li>
                                <li><a href="{{ url_for('category_prompts', category_name='Community') }}">Community & Environment</a></li>
                                <li><a href="{{ url_for('category_prompts', category_name='Poetry') }}">Poetry</a></li>
                                <li><a href="{{ url_for('category_prompts', category_name='Reflection') }}">Reflection</a></li>
                                <li><a href="{{ url_for('category_prompts', category_name='Surrealism') }}">Surrealism</a></li>
                                <li><a href="{{ url_for('category_prompts', category_name='Sci-Fi') }}">Sci-Fi</a></li>

                            </ul>
                        </li>

                        <li><a href="{{ url_for('blog') }}" title="">Blog</a></li>
                        <li><a href="{{ url_for('contact') }}" title="">Contact</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('dashboard') }}" title="">Dashboard</a></li>
                            <li><a href="{{ url_for('portfolio') }}" title="">Portfolio</a></li>
                            <li><a href="{{ url_for('logout') }}" title="">Log out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login_page') }}" title="">Login / Signup</a></li>
                        {% endif %}
                    </ul> <!-- end s-header__nav -->

                </nav> <!-- end s-header__nav-wrap -->
    
            </div> <!-- end s-header__navigation -->



            <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>


        </header> <!-- end s-header -->


        <!-- # site-content
        ================================================== -->
        <section id="content" class="s-content">


            <!-- hero -->
            <div class="hero">

                <div class="hero__slider swiper-container">

                    <div class="swiper-wrapper">
                        <article class="hero__slide swiper-slide">

                            <div class="hero__entry-text">
                                <div class="hero__entry-text-inner">
                                    <div class="hero__entry-meta">
                                        <span class="cat-links">
                                            <a href="category.html">Inspiration</a>
                                        </span>
                                    </div>
                                    <h2 class="hero__entry-title">
                                        <a href="single-standard.html">
                                            Unleash Your Creativity, One Prompt at a Time
                                        </a>
                                    </h2>
                                    <p class="hero__entry-desc">
                                    Red Ink is your space for daily writing inspiration. Discover prompts that spark
                                        creativity, explore ideas, and grow your voice. Save your work, track progress,
                                        and let your imagination flow—one prompt at a time.
                                    </p>
                                    {% if current_user.is_authenticated %}
                                        <a class="hero__more-link" href="{{ url_for('dashboard') }}">Go to Dashboard</a>
                                    {% else %}
                                        <a class="hero__more-link" href="{{ url_for('login_page') }}">Join Now</a>
                                    {% endif %}
                                </div>
                            </div>
                        </article>



            <!--  masonry -->
            <div id="bricks" class="bricks">

                <div class="masonry">

                    <div class="bricks-wrapper" data-animate-block>

                        <div class="grid-sizer"></div>

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Design</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Naruto Uzumaki</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">Just a Normal Simple Blog Post.</a></h1>
                                 </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla
                                    sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="{{ url_for('blog') }}">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Lifestyle</a>
                                        </span>
                                        <span class="post-date">
                                            By:
                                            <a href="#0">Sasuke Uchiha</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">Throwback To The Good Old Days.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Ipsam odio corrupti et dolores odit aliquid quo. Dolore consectetur a sit modi quam debitis non omnis. Enim ullam
                                    voluptatem ipsum soluta sed debitis nihil quasi. Et et et sit. Lorem ipsum Sed eiusmod esse aliqua sed incididunt.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Design</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Naruto Uzumaki</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">5  Grayscale Coloring Techniques.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Quo saepe magni magnam expedita nobis. Rerum assumenda necessitatibus tempora dolorem. Harum animi tempora odio natus et
                                    et perferendis possimus. Aut quo mollitia libero molestiae aut molestiae voluptate tempore. Eius voluptatem eligendi .
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Lifestyle</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Shikamaru Nara</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">What Minimalism Really Looks Like.</a></h1>
                                 </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo
                                    est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end entry -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Health</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Kakashi Hatake</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">10 Interesting Facts About Caffeine.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Consequatur amet voluptatem aliquid fuga. Consequatur tempora eos earum deleniti repellendus ducimus. Qui ipsum voluptas
                                    sed et ad dignissimos explicabo maxime dolor. Rerum quia et. Suscipit similique et. Atque tenetur provident. Excepturi
                                    autem unde.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->



                        <article class="brick entry" data-animate-el>

                             <!-- end entry__thumb -->

                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Work</a>
                                            <a href="#">Design</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Shikamaru Nara</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">Red and Blue Photo Effects.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo
                                    est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in
                                    culpa in anim.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Lifestyle</a>
                                            <a href="#">Work</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Naruto Uzumaki</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">10 Practical Ways to Be Minimalist.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Ratione qui voluptas reprehenderit facilis soluta ut nam. Distinctio cum excepturi et. Aperiam blanditiis voluptatem.
                                    A esse sunt nesciunt voluptate. Architecto voluptas id rerum placeat nostrum et optio. Placeat occaecati voluptas.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Health</a>
                                            <a href="#">Lifestyle</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Sakura Haruno</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">What Does Reading Do to Your Brain?</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed
                                    commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Design</a>
                                            <a href="#">Photography</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Shikamaru Narra</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">Symmetry In Modern Design.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Praesentium vel similique laboriosam repudiandae mollitia error. Inventore numquam occaecati omnis beatae fugiat.
                                    Porro sed numquam doloribus dolores exercitationem recusandae culpa. Sint vel vel quia quis. Non velit eum ea
                                    tempora quas sapiente.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Lifestyle</a>
                                            <a href="#">Work</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Sasuke Uchiha</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">10 Tips for Managing Time Effectively.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla
                                    sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in anim.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->



                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="https://www.dreamhost.com/r.cgi?287326">Dreamhost</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">StyleShout</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="https://www.dreamhost.com/r.cgi?287326">Need Web Hosting for Your Websites?</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Need hosting? We would highly recommend DreamHost.
                                    Enjoy 100% in-house support, guaranteed performance and uptime, 1-click installs, and a super-intuitive control
                                    panel to make managing your websites and projects easy.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="https://www.dreamhost.com/r.cgi?287326">Learn More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                        <article class="brick entry" data-animate-el>



                            <div class="entry__text">
                                <div class="entry__header">
                                    <div class="entry__meta">
                                        <span class="cat-links">
                                            <a href="#">Photography</a>
                                        </span>
                                        <span class="byline">
                                            By:
                                            <a href="#0">Naruto Uzumaki</a>
                                        </span>
                                    </div>
                                    <h1 class="entry__title"><a href="single-standard.html">Black And White Photography Tips.</a></h1>
                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                    Voluptatem maiores aut delectus accusamus et explicabo et. Enim sunt quo odio sit. Hic consequatur et quia voluptas saepe.
                                    Vel nostrum incidunt ab eum distinctio recusandae. Labore dolore consequatur occaecati iste ex consectetur et perferendis.
                                    </p>
                                </div>
                                <a class="entry__more-link" href="#0">Read More</a>
                            </div> <!-- end entry__text -->

                        </article> <!-- end article -->

                    </div> <!-- end bricks-wrapper -->

                </div> <!-- end masonry-->


                <!-- pagination -->
                <div class="row pagination">
                    <div class="column lg-12">
                        <nav class="pgn">
                            <ul>
                                <li>
                                    <a class="pgn__prev" href="#0">
                                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li><a class="pgn__num" href="#0">1</a></li>
                                <li><span class="pgn__num current">2</span></li>
                                <li><a class="pgn__num" href="#0">3</a></li>
                                <li><a class="pgn__num" href="#0">4</a></li>
                                <li><a class="pgn__num" href="#0">5</a></li>
                                <li><span class="pgn__num dots">…</span></li>
                                <li><a class="pgn__num" href="#0">8</a></li>
                                <li>
                                    <a class="pgn__next" href="#0">
                                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H4.75"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav> <!-- end pgn -->
                    </div> <!-- end column -->
                </div> <!-- end pagination -->

            </div> <!-- end bricks -->

        </section> <!-- end s-content -->


{% endblock %}

{% block content %}
<!-- Your index-specific content here -->
{% endblock %}