{% extends "base.html" %}

{% block title %}Sign Up - Red Ink{% endblock %}

{% block content %}


<!-- # site-content
================================================== -->
<div id="content" class="s-content s-content--page">

        <div class="row entry-wrap">
            <div class="column lg-12">

                <article class="entry">

                    <header class="entry__header entry__header--narrow">
                        <h1 class="entry__title">Join Red Ink</h1>
                    </header>

                    <div class="content-primary">

                        <div class="entry__content">

                            <p class="lead">Fill out the form below to start your journey!</p>

                            <form id="login-form" class="mc-form" method="POST" action="/login">
                                <input type="email" name="LEMAIL" id="sEmail" class="u-fullwidth text-center" placeholder="Email Address" required>
                                <input type="password" name="LPASS" id="sPass" class="u-fullwidth text-center" placeholder="Password" required>
                                <input type="submit" name="login" value="Log in" class="btn--small btn--primary u-fullwidth">
                                <div id="login-flash-message" class="mc-status"></div>
                            </form> <!-- end form -->
                            <p class="centered-text">First time here? <a href="{{ url_for('signup_page') }}">Sign up</a></p>

                    </div> <!-- end content-primary -->

                </article> <!-- end entry -->

            </div>
        </div> <!-- end entry-wrap -->
</section> <!-- end s-content -->


{% endblock %}